$primary: #BF360C;
// $primary: #E64A19;
/* $secondary: ;
$success: ;
$info: ;
$warning: ;
$danger: ;
$light: ; 
$dark:;*/

$leaflethovercolor: #FFAB91;
// $leaflethovercolor: #FFD54F;
// $leaflethovercolor: #81D4FA;